@tailwind base;
@tailwind components;
@tailwind utilities;

#apexchartsmainChart {
    margin-left: auto !important;
    margin-right: auto !important;
  }

.apexcharts-tooltip {
    text-transform: capitalize;
}